
.work-sans-default {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.image_fluid{
    width: 100%;
    height: auto;
}
main{
    max-width: 1440px;
    margin:0 auto;
}

.text-primary{
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.text_light_black{
    color: #131313;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin: 10px;
}

/* nav_bar */

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}

/* navbar related styles */
.navbar{
    justify-content: space-around;
    align-items: center;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,.banner{
   max-width: 1440px; 
   margin: 0 auto;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    color: #131313;
}

/* banner_style*/

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-image{
    width: 100%;
}



/* team styles */
.teams{
    align-items: center;
    margin-top: 85px;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* fact-style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0px;
}

.fact-description{
    max-width: 540px;
    margin-top: 24px;
}
.sponsor-info{
    max-width: 542px;
    height: 129px;
    text-align: center;
    margin: 100px auto;
}

.spons-para{
    font-size: 1rem;
    font-weight: 400;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 130px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.footer{
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 1440px;
    height: 100px;
    margin: 130px;
}
.footer h3{
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 22px;
}

/* responsive   */

@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container,.facts-container,.sponsor-companies{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: auto;
    }
    .our-features{
        margin-left: 20px;
    }
    .team-img-container{
        width: 100%;
        height: auto;
    }

    .facts-container{
        row-gap: 10px;
        margin: 30px auto;
    }

    .fact-card{
        width: auto;
        height: 241px;
    }
.sponsor-companies{
    row-gap:30px;
    justify-items: center;
    margin-left: auto;
}
.footer{
    margin:15px auto;
}

}

@media screen and (min-width:577px) and (max-width: 992px){
    .teams{
        display: flex;
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
        height: auto;
    }

    .facts-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: auto;
    }
    .fact-card{
        width: auto;
        height: 241px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        gap: 30px ;
    }

    .footer{
    margin:25px auto;
}
}